<ion-header>
  <ion-navbar *navbar danger>
    <ion-title>
      KunderCon
    </ion-title>
  </ion-navbar>
  <ion-searchbar 
  [(ngModel)]="customSearch" 
  [showCancelButton]="shouldShowCancel" 
  [formControl]="searchControl" 
  (ionInput) = "onInputEnter($event)"
  (search)="onSearchInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-left>
        <img [src]="item.thumbnail.path+'.'+item.thumbnail.extension">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <button ion-button clear (click)="comicDetail(item)">View</button>
    </ion-item>
    <h2 *ngShow="items"> Any comic found it</h2>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more comics...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>