<ion-header>
  <ion-navbar color="danger">
    <ion-title>
     Comics
    </ion-title>
  </ion-navbar>
  <ion-searchbar 
  [(ngModel)]="customSearch" 
  [showCancelButton]="shouldShowCancel" 
  [formControl]="searchControl" 
  (ionInput) = "onInputEnter($event)"
  (search)="onSearchInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content padding>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items" >
      <ion-thumbnail item-left (click)="comicDetail(item)">
        <img [src]="item.thumbnail.path+'.'+item.thumbnail.extension">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <h2>
        {{ getDate(item.dates,"onsaleDate") | amDateFormat:'L'  }}
      </h2>
      <button ion-button clear (click)="comicDetail(item)">View</button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more comics...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>